/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTP' {
        ext.args   = '-e 30'
        publishDir = [
            path: { "${params.outdir}/preprocess/fastp" },
            mode: params.publish_dir_mode,
            pattern: "*gz"
        ]
    }

    withName: 'PARSE_FASTP_REPORTS' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'COMBINE_FASTP_REPORTS' {
        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SEQTK_MERGEPE' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SRA_HUMAN_SCRUBBER' {
        ext.args = '-s -x'
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SEQFU_DEINTERLEAVE' {
        publishDir = [
            path: { "${params.outdir}/preprocess/sra-human-scrubber" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BBMAP_RANDOMREADS' {
        ext.args = 'coverage=20 illuminanames=t seed=42 paired=t'
        publishDir = [
            enabled: false
        ]
    }

    withName: 'PIGZ_COMPRESS' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'MINIMAP2_INDEX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args = '-ax sr'
        publishDir = [
            path: { "${params.outdir}/amr/minimap2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/preprocess/stats/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_STATS10X' {
        ext.args = '-g 10'
        publishDir = [
            path: { "${params.outdir}/preprocess/stats/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_DEPTH' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'REPORT_DEPTH_COV' {
        publishDir = [
            path: { "${params.outdir}/preprocess/stats/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SEQKIT_SAMPLE' {
        publishDir = [
            enabled: false
        ]
    }

    withName: UNICYCLER {
        ext.args   = '--min_fasta_length 500'
        publishDir = [
            path: { "${params.outdir}/assembly/unicycler" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'QUAST' {
        publishDir = [
            path: { "${params.outdir}/assembly/quast" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FASTANI' {
        ext.args   = '--minFraction 0.5'
        publishDir = [
            path: { "${params.outdir}/speciesid/fastani" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'KRAKEN2_KRAKEN2' {
        label = 'process_kraken2'
        publishDir = [
            path: { "${params.outdir}/speciesid/kraken2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GET_MP_PERCENT' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'MLST' {
        ext.args   = '--legacy --scheme mpneumoniae --nopath'
        publishDir = [
            path: { "${params.outdir}/speciesid/mlst" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_FAIDX' {
            publishDir = [
                enabled: false
            ]
    }

    withName: 'FREEBAYES' {
        ext.args = '--ploidy 1'
        publishDir = [
            path: { "${params.outdir}/amr/freebayes" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SNP_SUMMARY' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'AMRFINDERPLUS_RUN' {
        publishDir = [
            path: { "${params.outdir}/amr/amrfinderplus" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SUMMARY_REPORT' {
        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SNIPPY' {
        publishDir = [
            path: { "${params.outdir}/phylogeny/snippy" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SNIPPY_CORE' {
        publishDir = [
            path: { "${params.outdir}/phylogeny/snippy_core" },
            mode: params.publish_dir_mode
        ]
    }

     withName: 'SNIPPY_CLEAN' {
        publishDir = [
            path: { "${params.outdir}/phylogeny/snippy_core" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'REMOVE_REF' {
        publishDir = [
            path: { "${params.outdir}/phylogeny/snippy_core" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SNPDISTS' {
        publishDir = [
            path: { "${params.outdir}/phylogeny/snpdists" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GUBBINS' {
        ext.args = '--tree-builder raxml-ng -i \"${params.max_itr}\"'
        publishDir = [
            path: { "${params.outdir}/phylogeny/gubbins" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'RAXMLNG' {
        ext.args = '--all'
        publishDir = [
            path: { "${params.outdir}/phylogeny/RAxMLNG" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
